{% include 'bootstrap.html' %}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/test.css">
</head>

<body>

<div>
    <div id="popup-1">
        <div class="popup-content">
            <h1>Add new interval schedule</h1>
            <form method="post" action="/interval_new/">
                {% csrf_token %}
                <ul>
                    {{ form_interval.as_p }}
                </ul>
                <input type="submit" value="Submit Form"/>
            </form>
            <button id="close-popup-1">Close</button>
        </div>
    </div>

    <div>
        <h1>New Task Form</h1>
        <p>Create a new task in Django Celery</p>
        <button id="open-popup-1">+ Interval Schedule</button>
        <p> </p>

        <script type="text/javascript" src="/static/app.js"></script>

        <form method="post" action="">
            {% csrf_token %}
            <ul>
                {{ form.as_p }}
            </ul>
            <input type="submit" value="Submit Form"/>
        </form>

    </div>
</div>
</body>
</html>
